@media all {
  body {
    background-color: white;
    font-family: 'League Spartan', sans-serif;
  }

  main {
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
  }

  header {
    margin-right: -13rem;
  }

  header h1 {
    color: hsl(300, 43%, 22%);
    width: 35%;
  }

  header p {
    color: hsl(303, 10%, 53%);
    font-size: 15px;
    font-weight: 500;
    width: 43%;
    line-height: 1.2;
  }

  .bg-top {
    position: absolute;
    top: 0;
  }

  .bg-bot {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
  }

  aside div {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin-top: 1rem;
    padding: 1rem;
    padding-left: 5rem;
    background-color: hsl(300, 24%, 96%);
    border-radius: 15px;
  }

  .rated {
    display: flex;
  }

  .rated-text {
    text-align: center;
  }

  .star {
    background: url(images/icon-star.svg),
                url(images/icon-star.svg),
                url(images/icon-star.svg),
                url(images/icon-star.svg),
                url(images/icon-star.svg);
    background-repeat: no-repeat, 
                   no-repeat,
                   no-repeat,
                   no-repeat,
                   no-repeat;
    background-position: 0px top, 
                     20px top,
                     40px top,
                     60px top,
                     80px top;
  }

  footer {
    display: flex;
    font-size: 15px;
    margin-top: 4rem;
    /* margin-left: 10rem; */
    justify-content: center;
  }

  .comment {
    background: hsl(300, 43%, 22%);
    width: 270px;
    padding: 3rem 1.5rem;
    margin: 0 2rem;
    border-radius: 10px;
  }

  .comment-header {
    display: flex;
    margin-bottom: 1rem;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }

  .img-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .name {
    color: white;
    font-size: 16px;
    font-weight: 500;
  }

  .subtitle {
    color: hsla(333, 80%, 67%, 0.8);
    font-size: 16px;
    font-weight: 400;
  }

  .comment-text {
    color: hsl(300, 24%, 96%);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3;
    padding: 0 auto;
  }

  .comment:nth-child(2) .comment-text {
    width: 250px;
  }
}